{%extends "base.html"%} {%block page_name%} Home {%endblock%} 

{% block content %}

<div class = "container">
    <div class=" mx-auto bg-gray-800 h-25vh rounded-2xl mt-10 mb-16 bg-cover bg-no-repeat bg-top" style="background-image:url(https://img.bleacherreport.net/img/images/photos/003/639/892/hi-res-71532ef6e03d3d4c32e75367f778358b_crop_north.jpg?1479293838&w=3072&h=2048)">
    </div>

    <div class=" mx-auto border-black border-4 h-50vh rounded-2xl mt-10 mb-16" >
    </div>
</div>
{% endblock content%}